<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686000746139-v4eo4gfme31nukkp5hrk13cfvtn84e6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686000746139-v4eo4gfme31nukkp5hrk13cfvtn84e6m</string>
	<key>API_KEY</key>
	<string>AIzaSyCqa1YXzTzfzBtabpkS5BPu4cb31l3L06E</string>
	<key>GCM_SENDER_ID</key>
	<string>686000746139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChenOutOfTen.Mathraiser</string>
	<key>PROJECT_ID</key>
	<string>mathraiser-7e139</string>
	<key>STORAGE_BUCKET</key>
	<string>mathraiser-7e139.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686000746139:ios:3683d73fedf6c99b2ce03e</string>
	<key>DATABASE_URL</key>
	<string>https://mathraiser-7e139.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1213464944557353~1549575848</string>
</dict>
</plist>